
h1   { text-align: center ;
	   margin: 90px ; 
	   font-size: 40px;
	   color: #5f4633 ;           }



h2  { text-align: center ;
       margin: 50px ;
       color: #5f4633 ;     }



P   { text-align: center ;
	  margin-right: 5% ;
	  margin-left: 5% ;          }



.img2 { margin-left: 15% ;      }



.img1 { width: 1000px ;
	    margin-left: 13% ;         }



.hed {
	margin: 50px ;
}



iframe { margin-left: 28% ;     }



footer { font-size: 30px ;     }



.fp { margin: 60px ;      }



html {  background: #A8988D ;   }



